/* loadingPage */
.loadingPage{
  background-color: transparent;
  height: 100%;
  padding: 10px;
  .loadingIcon{
    //background-color: #ff6768;
    width: 400px;
    height: 70px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    border-bottom: 1px solid gainsboro;
    img{
      width: 70px;
      vertical-align: middle;
    }
    span{
      font-weight: 400;
      letter-spacing: 2px;
      font-family: 宋体;
      color: #2ec7c9;
    }
    span:first-of-type{
      padding-left: 15px;
    }
    span:nth-of-type(8){
      display: inline-block;
      animation: animationMove 0.5s linear 0s infinite alternate running backwards ;
    }
    span:nth-of-type(9){
      display: inline-block;
      animation: animationMove 0.5s linear 0.25s infinite alternate running backwards ;
    }
    span:nth-of-type(10){
      display: inline-block;
      animation: animationMove 0.5s linear 0.5s infinite alternate running backwards ;
    }
    span:nth-of-type(11){
      display: inline-block;
      animation: animationMove 0.5s linear 0.75s infinite alternate running backwards ;
    }
    span:nth-of-type(12){
      display: inline-block;
      animation: animationMove 0.5s linear 1s infinite alternate running backwards ;
    }
    span:nth-of-type(13){
      display: inline-block;
      animation: animationMove 0.5s linear 1.25s infinite alternate running backwards ;
    }
  }
}
.workingPage{
  background-color: white;
  height: 100%;
  padding: 10px;
  .loading-icon{
    //background-color: #ff6768;
    width: 400px;
    height: 100px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    border-bottom: 1px solid gainsboro;
    img{
      width: 70px;
      vertical-align: middle;
    }
    span{
      font-weight: 400;
      letter-spacing: 2px;
      font-family: 宋体;
      color: white;
    }
    span:first-of-type{
      padding-left: 15px;
    }
    span:nth-of-type(2){
      display: inline-block;
      animation: animationMove 0.5s linear 0s infinite alternate running backwards ;
    }
    span:nth-of-type(3){
      display: inline-block;
      animation: animationMove 0.5s linear 0.25s infinite alternate running backwards ;
    }
    span:nth-of-type(4){
      display: inline-block;
      animation: animationMove 0.5s linear 0.5s infinite alternate running backwards ;
    }
    span:nth-of-type(5){
      display: inline-block;
      animation: animationMove 0.5s linear 0.75s infinite alternate running backwards ;
    }
    span:nth-of-type(6){
      display: inline-block;
      animation: animationMove 0.5s linear 1s infinite alternate running backwards ;
    }
    span:nth-of-type(7){
      display: inline-block;
      animation: animationMove 0.5s linear 1.25s infinite alternate running backwards ;
    }
  }
}
@keyframes animationMove {
  from{
    transform: translate(0px, 0px);
  }
  50%{
    transform: translate(0px, -3px);
  }
  to{
    transform: translate(0px, -5px);
  }
}