.errorNotice{
  z-index: 12;
  position: fixed;
  top: 130px;
  left: 0px;
  right: 0px;
  margin-left:auto;
  margin-right:auto;
  background-color: white;
  border-radius: 2px;
  border: 1px solid rgba(5,5,5,0.2);
  padding: 10px;
  overflow: hidden;
  &>.dialog-header-title{
    height: 60px;
    line-height: 60px;
    background-color: white;
    border-bottom:1px solid rgba(5,5,5,0.15);
    .dialog-title-header{
      font-size: 1.221em;
      font-family: "宋体";
      font-weight: 700;
      color: #094086;
    }
    .dialog-close{
      text-align: right;
      img{
        width: 25px;
        transition: all 0.2s linear;
      }
      img:hover{
        transform: scale(1.1,1.1);
      }
    }
  }
  &>div{
    padding-left: 20px;
    padding-right: 20px;
  }
  &>.dialogContent{
    border-bottom: 1px solid rgba(5,5,5,0.2);
    margin-top: 15px;
    margin-bottom: 15px;
    padding-bottom: 12px;
  }
  &>.dialogFooter{
    margin-top: 20px;
    text-align: right;
    button{
      margin-left: 15px;
    }
  }
}