.contractContainer{
  $body-bc-color:RGB(240,242,245);
  $navbar-color: #1372ab;
  $right-banner-bc-color:white;
  height: 630px;
  //overflow-y: scroll;
  .itemState{
    font-weight: 400;
    font-size: 14px;
    color: black;
    font-family: "宋体";
  }
  .myStateLine{
    margin: 5px auto;

    .unit{
      font-size: 13px;
      color: grey;
    }
  }
  .myState{
    display: inline-block;
    text-align: center;
    width: 150px;
    font-size: 12px;
    padding-top: 8px;
    padding-bottom: 8px;
    color: white;
    background-color: rgba(0,0,0, 0.2);
    font-weight: 400;
  }

  .myStateAnswer{
    display: inline-block;
    border-bottom: 1px solid #005C97;
    padding-left: 30px;
    padding-bottom: 5px;
    letter-spacing: 1px;
    font-weight: 500;
    font-size: 14px;
    color: white;
    width: 80%;
    .timeAnswer{
      font-size: 13px;
      color: #2ec7c9;
    }
    .finish{
      font-size: 13px;
      background-color: #0577fc;
      border-radius: 5px;
      padding: 1px 15px;
    }

  }

  .myinputLong{
    width: 450px;
  }
  .myinputMiddleLong{
    width: 300px;
  }

  .myinput{
    box-sizing: border-box;
    margin: 0;
    font-variant: tabular-nums;
    list-style: none;
    font-feature-settings: "tnum";
    position: relative;
    display: inline-block;
    min-width: 0;
    padding: 4px 11px;
    color: #000000d9;
    font-size: 14px;
    line-height: 1.5715;
    background-color: #fff;
    background-image: none;
    border: 1px solid #d9d9d9;
    border-radius: 2px;
    transition: all .3s linear;
    outline: none;
    &:focus{
      border-radius: 3px;
      border: 1px double $navbar-color;
    }
  }


  .mySelect{
    box-sizing: border-box;
    margin: 0;
    font-variant: tabular-nums;
    list-style: none;
    font-feature-settings: "tnum";
    position: relative;
    display: inline-block;
    min-width: 0;
    padding: 4px 11px;
    color: #000000d9;
    font-size: 14px;
    line-height: 1.715;
    background-color: #fff;
    background-image: none;
    border: 1px solid #d9d9d9;
    border-radius: 2px;
    transition: all .3s linear;
    outline: none;
    &:focus{
      border-radius: 3px;
      border: 1px solid $navbar-color;
    }
  }

  .errorInput{
    border:1px solid red !important; ;
  }

  .errorMessageFromServer{
    color: #ff6768;
    font-family: 宋体;
    font-size: 14px;
    //animation: animationMove 0.5s linear 0s infinite alternate running backwards ;
    animation: error-dance 1s linear 0s infinite alternate running backwards;
  }

  .pointer{
    margin-left: 8px;
    vertical-align: -10%;
    font-size: 15px;
    &:hover{
      cursor: pointer;
    }
  }
  .textarea{
    outline: none;
    padding: 5px;
  }


  @keyframes error-dance {
    from{
      opacity: 0.4;
    }
    50%{
      opacity: 0.7;
    }
    to{
      opacity: 1;
    }
  }
}
