.defaultButton{
  letter-spacing: 1px;
  text-decoration: none;
  display: inline-block;
  white-space: nowrap;
  outline: none;
}

$basic-color:#17223b;
$basic-color-light:#263859;
$basic-color-light-more:#6b778d;
$basic-color-light-more-1:#E0F4FF;
$basic-color-red:#ff6768;
