.direction-life-circle{
  padding: 10px;
  padding-top: 20px !important;
  background-color: white;
  border: 1px solid gainsboro;
  border-top: 0px !important;
  margin-right: 15px;
  margin-left: 15px;
  .tabs{
    list-style: none;
    border-bottom: 1px solid gainsboro;
    li{
      float: left;
      padding: 10px;
      font-weight: 400;
      font-size: 14px;
      color: black;
    }
    .active{
      border-bottom: 1px solid white;
      border-top: 1px solid gainsboro;
      border-left:1px solid gainsboro;
      border-right: 1px solid gainsboro;
      margin-bottom: -1px;
      font-size: 14px;
      font-weight: 600;
      color: #1372ab;
    }
  }
  .tabContent{
    padding-top: 25px;
    min-height: 500px;
  }
}
.history-direction-initial{
  padding-left: 15px;
  padding-bottom: 20px;
  .container-history{
    border-left: 1px solid gainsboro;
    padding-left: 5px;
    position: relative;
    //background-color: #ff6768;
    .parent-pointer{
      position: relative;
      .pointer{
        position: absolute;
        $pheight: 10px;
        top: -10px;
        left: -10px;
        height: $pheight;
        width: $pheight;
        border-radius: $pheight / 2;
        background-color: white;
        box-sizing: border-box;
        border:2px solid #4286f4;
      }
    }
    .operation-container{
      padding-left: 15px;
      width: 80%;
      .header{
        font-size: 15px;
        color: black;
        margin-top: 15px;
        font-weight: 600;
        font-family: "Apple Color Emoji";
        //background-color: #4286f4;
      }
      .operation{
        padding-top: 15px;
        font-family: 宋体;
        font-size: 14px;
        .sequence{
          vertical-align: text-top;
          text-align: center;
          color: grey;
          font-size: 12px;
          display: inline-block;
          $sequenceHeight: 14px;
          height: $sequenceHeight;
          width: $sequenceHeight;
          border-radius: $sequenceHeight / 2;
          background-color: white;
          box-sizing: border-box;
          border: 1px solid grey;
        }
        .detail{
          padding-left: 5px;
        }
        .timer{
          padding-left: 10px;
          color: grey;
        }
        .remark{
          padding-top: 10px;
          height: 30px;
          line-height: 30px;
          padding-left: 20px;
          .system{
            color: #1372ab;
            padding-left: 10px;
          }
          .result{
            padding-left: 20px;
            color: #2a5298;
          }
          .icon{
            $height-state: 25px;
            display: inline-block;
            width: $height-state;
            height: $height-state;
            line-height: $height-state;
            border-radius: $height-state / 2;
            text-align: center;
            font-size: 7px;
            color: white;
            background-color: #1372ab;
            box-sizing: border-box;
            border: 2px solid white;
          }
          .fail-icon{
            $height-state: 25px;
            display: inline-block;
            width: $height-state;
            height: $height-state;
            line-height: $height-state;
            border-radius: $height-state / 2;
            text-align: center;
            font-size: 7px;
            color: white;
            background-color: #ff6768;
            box-sizing: border-box;
            border: 2px solid white;
          }
        }
      }
    }
  }
}



