*{
  padding:0px;
  margin:0px;
}

html{
  height: 100%;
}

body{
  height: 100%;
  background-color: transparent;//RGB(240, 242, 245);
}

#root{
  width: 100%;
  margin: 0px  auto 0 auto;
  height: 100%;
  background-image: url("../../../static/party/bluebackground.jpg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-color: transparent !important;
}


::-webkit-scrollbar{
  width: 10px;
  height: 100%;
  background-color: #005C97;
}
::-webkit-scrollbar-thumb{
  background-color: #1296db;
  border-radius: 5px;
}

.boxStyle{
  background-color: transparent !important;
  background-image: url('../../../static/party/boxbackground.png');
  background-size: 100% 100%;
}

/* 后台交易 header 样式 */
$headerHeight: 60px;
$borderWidth:1px;
.tradeHeader{
  z-index: 9;
  background-color: white;
  height: $headerHeight;
  width: 100%;
  border-bottom: $borderWidth solid gainsboro;
  position: fixed;
  top: 0px;
  $top: 20px;
  .nav-brand{
    height: 30px;
    margin-top: $top;
    //background-color: #ff6768;
    &>.brand{
      cursor: pointer;
      max-width: 260px;
      min-width: 260px;
      &>img{
        padding-left: 15px;
        width: 28px;
        vertical-align: top;
      }
      &>.brandContent{
        padding-left: 15px;
        font-size: 20px;
        font-weight: 600;
        font-family: remix;
        color: rgba(0,0,0,0.8);
      }
    }
    &>.navList{
      min-width: 350px;
      &>ul{
        &::after{
          content: "";
          display: block;
          visibility:hidden;
          clear:both;
        }
        list-style: none;
        background-color: white;
        &>li{
          padding-top: 3px;
          float:left;
          padding-left: 10px;
          padding-right: 10px;

          //background-color: #1372ab;
          transition: all 0.5s linear 0s;
          /* 一级菜单样式表 */
          &>a{
            text-decoration: none;
            text-align: center;
            cursor: pointer;
            img{
              width: 18px;
              vertical-align: text-bottom;
              color: grey;
              padding-right: 7px;
            }
            span{
              color: rgba(0,0,0,0.7);
              font-size: 14px;
              font-family: 宋体;
            }
          }
          &:hover{
            color: #17223b;
          }
          &:hover >ul, li{
            display: block;
            opacity: 1;
          }
          /* 子菜单 */
          &>ul:hover{
            display: block;
            opacity: 1;
          }
          &>ul{
            padding-top: 20px;
            width: 120px;
            position: absolute;
            display: none;
            list-style: none;
            top: 40px;
            opacity: 0;
            transition: all 0.5s linear 0s;

            li{
              cursor: pointer;
              background-color: white;
              text-align: left;
              font-size: 14px;
              font-family: 宋体;
              padding: 12px 0px 12px 5px;
            }
            li:hover{
              background-color: #E0F4FF;
            }
          }
        }
      }
    }
  }
  /* 右方的样式 */
  .right-navLink{
    min-width: 350px;
    overflow: hidden;
    margin-top: $top;
    &>ul{
      /* 清楚样式 */
      list-style: none;
      /* 清楚浮动 */
      &::after{
        content: "";
        display: block;
        visibility:hidden;
        clear:both;
      }
      &>li{
        cursor: pointer;
        text-align: left;
        float: right;
        padding-top: 5px;
        width: 105px;
        img{
          width: 20px;
          vertical-align: text-bottom;
          padding-right: 10px;
        }
        span{
          font-size: 15px;
          color: rgba(0,0,0,0.7);
          font-size: 14px;
          font-family: 宋体;
          padding-right: 10px;
        }
      }
      &>li:hover{
        color: #17223b;
        font-weight: 600;
      }
    }
  }
}

$nav-width:45px;
.tradeContainer{
  display: flex;
  width: 100%;
  height: 100%;
  &>.tradeNav{
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: $nav-width;
    background-color: white;
    border-right: 1px solid gainsboro;;
    &>.navContent{
      margin-top: $headerHeight + $borderWidth ;
      width: 100%;
      .navIcons{
        list-style: none;
        li{
          position: relative;
          padding-top: 10px;
          padding-bottom: 10px;
          text-align: center;
          img{
            width: 17px;
            color: #ff6768;
          }
        }
        .liHover{
          background-color: #E0F4FF;
        }
        .badge{
          position: absolute;
          top: -10px;
          right: 0px;
          display: inline-block;
          background-color: #ff4d4f;
          color: white;
          padding: 3px 5px;
          border-radius: 10px;
          font-size: 12px;
        }
      }
      .panel{
        .showPanel{
          z-index: 5;
          top: $headerHeight + $borderWidth;
          left: $nav-width + 1px;
          background-color: white;
          border-right: 1px solid gainsboro;
          border-left: 1px solid gainsboro;
          padding: 5px;
          width: 340px;
          position: absolute;
          transition: all 1s linear 0s;
        }
        .disappear{
          display: none;
          visibility: hidden;
        }
      }

    }
  }
  &>.tradeContent{
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 0px;
    //background-color: #17223b;
    &>.realContent{
      margin-top: $headerHeight + $borderWidth ;
      width: 100%;
      padding-top: 10px;
      &>.content{
        $marginMerge: 10px;
        margin-left: $marginMerge;
        margin-right: $marginMerge;
        min-height: 500px;

      }
    }
  }
}

.searchCondition{
  margin-bottom: 5px;
  overflow: hidden;

  form{
    .formLineMix{
      word-space:nowrap ;
      overflow: auto;
      height: 36px;
      padding-left: 5px;
      margin-bottom: 7px;
    }
  }
  .item{
    font-size: 14px;
    font-family: 宋体;
    display: inline-block;
    padding-right: 10px;
  }
  .itemAfter{
    font-size: 14px;
    font-family: 宋体;
    display: inline-block;
    text-align: center;
    padding-right: 10px;
    padding-left: 10px;
  }

  .myInputLong{
    width: 450px;
  }
  .myInputMiddleLong{
    width: 300px;
  }

  .myInput{
    text-indent: 10px;
    box-sizing: border-box;
    margin: 0;
    font-variant: tabular-nums;
    list-style: none;
    font-feature-settings: "tnum";
    position: relative;
    display: inline-block;
    width: 220px;
    font-size: 14px;
    line-height: 28px;
    height: 28px;
    background-color: #fff;
    background-image: none;
    border: 1px solid #d9d9d9;
    border-radius: 7px;
    transition: all .3s linear;
    outline: none;
    &:focus{
      border-radius: 7px;
      border: 1px double #1372ab;
    }
  }
}

.division{
  padding: 20px 10px;
  background-color: transparent;
  margin-top: 0px;

  .MySelect{
    display: inline-block;
    height: 26px;
    line-height:26px;
    width: 70px;
    outline: none;
    border-radius: 5px;
    margin-right: 5px;
    margin-left: 5px;
    &:focus{
      border: 1px solid #0577fc;
    }
  }

  .itemKicker{
    font-size: 14px;
    font-family: "宋体";
    color: #0577fc;
  }
}


.normalTableContainer{
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  .table{
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    border-spacing: 0px;
    border-collapse: collapse;
    >thead{
      background-color: transparent;//rgba(0,0,0,0.01);
      tr{
        td:nth-last-of-type(1){
          text-align: right;
          padding-right: 10px;
        }
        td:first-of-type{
          padding-left: 5px;
        }
        td{
          //border-right: 1px solid rgba(0,0,0,0.09);
          font-family: 黑体;
          height: 40px;
          font-weight: 600;
          color: white;
          font-size: 14px;
          text-align: center;
        }
        border-bottom: ghostwhite solid 1px;
      }
    }
  }
  .tableHover{
    tbody{
      background-color: transparent;
      tr:nth-of-type(even){
        background-color: rgba(0,0,0,0.03);
      }
      tr{
        //border-bottom: 1px solid gainsboro;
        .index{
          background-color: transparent;
          padding: 3px;
          border-radius: 5px;
          color: white;
        }
        td:first-of-type{
          padding-left: 5px;
        }
        td{
          color: white;
          $ht: 45px;
          height: $ht;
          line-height: $ht;
          font-size: 13px;
          font-weight: 400;
          //border-right: 1px solid rgba(0,0,0,0.09);
          text-align: center;
        }
        td:nth-last-of-type(1){
          padding-right: 15px;
          text-align: right;
        }
        &:hover{
          box-shadow: rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px, rgba(17, 17, 26, 0.1) 0px 24px 80px;
        }
      }
    }
  }
}

.normalLinkDetailOperation{
  color: RGB(0,146,252);
  text-decoration: none;
  background-color: transparent;
  outline: none;
  cursor: pointer;
  transition: all 0.3s linear 0s;
  font-weight: 500;
  letter-spacing: 1px;
  border: none;
  margin-left: 5px;
  margin-right: 5px;
  -webkit-text-decoration-skip: objects;
  &:hover{
    color: #ff6768;
  }
}

.normalLinkDetailButton{
  color: black;
  text-decoration: none;
  background-color: transparent;
  outline: none;
  cursor: pointer;
  transition: all .3s linear;
  font-weight: 400;
  letter-spacing: 1px;
  border: none;
  margin-left: 5px;
  margin-right: 5px;
  -webkit-text-decoration-skip: objects;
  &:hover{
    color: #1296db;
  }
}
