.contractDivisionPage{
  margin-left: 15px;
  margin-right: 15px;
  border-bottom: 1px solid gainsboro;
  border-left:  1px solid gainsboro;
  border-right:  1px solid gainsboro;
  padding: 10px;
  background-color: white;

  select{
    display: inline-block;
    height: 32px;
    line-height:32px;
    width: 70px;
    outline: none;
    margin-right: 5px;
    margin-left: 5px;
    &:focus{
      border-radius: 3px;
      border: 1px solid #1372ab;
    }
  }
}