.middle{
  padding-top: 45px;
  padding-bottom: 45px;
  text-align: center;
  font-size: 16px;
  color: #0577fc;
  background-color: white;
  font-family: remix;
  margin: 15px;
  border: 1px solid gainsboro;
}